[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
python-decouple = "*"
requests = "*"
djangorestframework-simplejwt = "*"
reportlab = "*"
num2word = "*"
num2words = "*"

[dev-packages]

[requires]
python_version = "3.12"
